body{
    margin: 0;
}

#header{
    /* 141920; */
    background-color:gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#titleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#amazinLogo{

    margin:0;
    padding: 0px;
    max-width: 100%;
    height: 100px;
}

#home a:visited{
    font-family: 'Arial Black', Arial, sans-serif;
    color: aliceblue;
    text-decoration: none;
}

#home a{
    font-family: 'Arial Black', Arial, sans-serif;
    color: aliceblue;
    text-decoration: none;
}

#home a:hover{
    font-family: 'Arial Black', Arial, sans-serif;
    color:darkgray;
    text-decoration: none;
}

#searchContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#searchForm {
    display: flex; /* Ensures the input and button are on the same line */
    align-items: center; /* Aligns items vertically */
}

#search {
    color: lightgray;
    width: 800px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 1px;
    height: 40px;
}

#searchButton {
    background-color: lightgrey;
    border: none;
    cursor: pointer;
    height: 62px;
    padding: 0 20px;
}

#searchButton:hover {
    background-color: lightgray;
}

#login a:visited{
    font-family: 'Arial Black', Arial, sans-serif;
    color: aliceblue ;
    text-decoration: none;
}
#login a{
    font-family: 'Arial Black', Arial, sans-serif;
    color: aliceblue ;
    text-decoration: none;
    transition: all 0.3s ease;

}
#login a:hover{
    font-family: 'Arial Black', Arial, sans-serif;
    color: darkgray ;
    text-decoration: none;
}

#cart{
    padding-right: 10px;
}
#cart a:visited{
    font-family: 'Arial Black', Arial, sans-serif;
    color: aliceblue ;
    text-decoration: none;

}

#cart a{
    font-family: 'Arial Black', Arial, sans-serif;
    color: aliceblue ;
    text-decoration: none;
    transition: all 0.3s ease;
}

#cart a:hover{
    font-family: 'Arial Black', Arial, sans-serif;
    color: darkgray ;
    text-decoration: none;

}

#subheaderbar{
    background-color:slategray;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.book-item {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    align-items: start;
    gap: 20px;
}

.image-container {
    width: 150px;
    height: 200px;
    overflow: hidden;
}

.book-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.book-details {
    flex-grow: 1;
}
