body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Arial Black', Arial, sans-serif;
  background: #232f3e; 
}

#userLoginForm {
  background-color: #ffffff;
  padding: 2rem; /* Reduced padding to be more compact */
  border-radius: 6px; /* Subtle border radius */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Slightly stronger shadow */
  text-align: center;
  max-width: 90%;
  width: 350px; /* Reduced width for compact look */
}

#userLoginForm h1 {
  color: #111;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: 500; /* Lighter font weight for header */
}

#userLoginForm label {
  font-size: 0.9rem;
  color: #111;
  margin-bottom: 0.3rem;
  display: block;
  text-align: left;
}

#userLoginForm input[type="text"],
#userLoginForm input[type="password"] {
  width: 90%;
  padding: 0.7rem;
  margin-top: 0.5rem;
  margin-bottom: 1.2rem;
  margin: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 0.9rem;
}

#userLoginForm button[type="submit"] {
  display: inline-block;
  padding: 0.7rem 1.5rem; 
  font-size: 1rem;
  background-color: #febd69; 
  color: #111; 
  border: 1px solid #f3a847; 
  border-radius: 4px;
  transition: all 0.2s ease;
  cursor: pointer;
  width: 100%; 
}

#userLoginForm button[type="submit"]:hover {
  background-color: #f3a847;
}
#error {
  display: none; /* Hidden by default */
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  padding: 0.5rem;
  border-radius: 4px;
  text-align: center;
  width: 100%;
}


