body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f3f3f3;
}

/* Header Styles */
#header {
    background-color: #232f3e;
    color: white;
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Header Button Styles */
#header a {
    text-decoration: none;
    color: white;
}

#settings {
    margin: 0;
    width: 180px;
    height: 110px;
}

#home {
    margin: 0;
}


#settings-container {
    display: flex;
    height: 100vh; /* Ensure the container takes full height */
  }
  
  #settings-menu {
    width: 250px;
    padding: 20px;
    border-right: 1px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  #settings-menu button {
    width: 100%;
    padding: 10px;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #settings-menu button:hover {
    background-color: #f3a847;
  }
  
  #actions-section {
    flex-grow: 1;
    padding: 80px 20px 20px;
    background-color: #f3f3f3;
    overflow-y: auto;
  }
  
  /* Existing styles for forms and other elements */
  .settings-section {
    display: none; /* Initially hide all sections */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .settings-section h3 {
    margin-top: 0;
  }
  
  #change-username-form, #change-password-form, #delete-account-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .text-entry {
    padding: 10px;
    border: 1px solid Black;
    border-radius: 5px;
    width: 500px;
  }
  
  .submit-button {
    padding: 10px;
    background-color: #febd69; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100px;
    
  }
  
  .submit-button:hover {
    background-color: #f3a847; 
  }