<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link type="text/css" rel="stylesheet" href="/adminstylesheet.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="/admin.js"></script>

    </head>
    <body>

        <div id = "header">
            <h1 id="admin">AdminPage</h1>
            <div id = "searchContainer">
                <form id = "searchForm">
                    <label for="search"></label>
                    <input type="text" id = "search" placeholder = "search..."q>
                    <button type = "submit" id = "searchButton">Search</button>
                </form>
            </div>
            <h2 id = "addBook"><a href = "/book/adminAddBookPage">Add</a></h2>

            <h2 id="settings">
                <a href="/settings/settingsEntry">
                    <img src="/Settings.png" alt="Settings" style="width: 55px; height: 55px;">
                </a>
            </h2>

            <h2 id="home">
                <a href="/logout">
                    <img src="/Logout.png" alt="Logout" style="width: 55px; height: 55px;">
                </a>
            </h2>


        </div>
        <div id = "subheaderbar">

        </div>

        <ul id="bookList"></ul>

        <script src="" async defer></script>
    </body>
</html>