<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src = "/adminAddBook.js"></script>
    </head>
    <body>
        <form id="createBookForm" enctype="multipart/form-data">
            <input type="number" id="ISBN" name="ISBN" placeholder="Enter ISBN">
            <input type="text" id="titleText" name="title" placeholder="Enter Title" required>
            <input type="text" id="authourText" name="authour" placeholder="Enter Authour" required>
            <input type="file" id="coverImage" name="coverImage" accept="image/*" required>
            <button type="submit">Add Book</button> 
        </form>
        
        
        <script src="" async defer></script>
    </body>
</html>