<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="adminstylesheet.css">
    </head>
    <body>

        <div id = "header">
            <div id = "searchContainer">
                <form id = "searchForm">
                    <label for="search">.</label>
                    <input type="text" id = "search" placeholder = "search..." required>
                    <button type = "submit" id = "searchButton">Search</button>
                </form>
            </div>
            <h2 id = "addBook"><a href = "/book/adminAddBookPage">Add</a></h2>
            <h2 id = "home"><a href = "/">home</a><h2>
        </div>
        <div id = "subheaderbar">

        </div>

        
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <script src="" async defer></script>
    </body>
</html>