    <!DOCTYPE html>

    <html xmlns:th="http://www.thymeleaf.org">
        
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title></title>
            <meta name="description" content="">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="stylesheet.css">
        </head>
        <body>
            <header id = "header">
                <div id="titleContainer">
                    <img src="/AmazinLogo.png" id="amazinLogo" alt="Amazin Logo">
                </div>
                <h2 id = "cart">Cart</h2> 
        
         

            </header>
            <subheaderbar id = "subheaderbar">
            </subheaderbar>
            <script src="" async defer></script>

        </body>
    </html>