    <!DOCTYPE html>

    <html xmlns:th="http://www.thymeleaf.org">
        
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>index</title>
            <meta name="description" content="">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="indexstylesheet.css">
        </head>
        <body>
            <div id = "header">
                <div id="titleContainer">
                    <img src="/AmazinLogo.png" id="amazinLogo" alt="Amazin Logo">
                </div>
                <div id = "searchContainer">
                    <form id = "searchForm">
                        <label for="search">.</label>
                        <input type="text" id = "search" placeholder = "search..." required>
                        <button type = "submit" id = "searchButton">Search</button>
                    </form>
                </div>
                <h2 id = "admin"><a href = "/admin">Admin</a></h2>
                <h2 id = "cart"><a href = "/cart">Cart</a></h2> 
            </div>
            <div id = "subheaderbar">

            </div>

            <div id = "mainBody">
 
            </div>
            <script src="" async defer></script>

        </body>
    </html>