<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Login Page</title>
        <meta name="description" content="Admin or User Login">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div id="LoginEntry">
            <h1>Are you an admin or a user?</h1>
            <h1 id="admin"><a href="/admin/login">Admin</a></h1>
            <h1 id="user"><a href="/user/login">User</a></h1>
        </div>
    </body>
</html>
