<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Settings</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/settings.js"></script>
  <link rel="stylesheet" href="/settings.css">
  
  
</head>
<body>
<div id="header">
  <a><img src="/AmazinSettings.png" id="settings"></a>
  
</div>

<div id="settings-container">
  <div id="settings-menu">
    <button id="change-username">Change Username</button>
    <button id="change-password">Change Password</button>
    <button id="delete-account">Delete Account</button>
  </div>
  <div id="actions-section">
    <!-- Your forms will be appended here -->
  </div>
</div>
<div id="footer">
  <div id="footerInfo">
      <p>Amazin.ca</p>
      <p>All rights reserved</p>
  </div>
</div>

</body>
</html>
